table{
    border: 5px solid rgb(0, 0, 0);
    border-collapse: collapse;
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50px;
    right: 470px;
}
td{
    border: 1px solid black;
    border-collapse: collapse;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.white{
    background-color: rgb(226, 223, 223);
}
.black{
    background-color: rgb(146, 33, 33);
}
.selected{
    background-color: rgb(103, 209, 103);
}
.possible-move{
    background-color:rgb(235, 235, 124) ;
}